.createform{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.createform input{
    width: 60vw;
    height: 50px;
    margin: 10px;
}
.createform button{
    width: 50vw;
    height: 50px;
    
}
